<!DOCTYPE HTML>

<html>
<head>
    <!-- Imagem da aba do navegador-->
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/Home/images/CEEM/LogoSemFundo16x16.png")">
    <!-- Titulo da aba do navegador-->
    <title>CEEM - Consumo de Energia Elétrica Monitorado</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Home/assets/css/main.css")" />


    <script src="@Url.Content("~/Scripts/Administrativa/js/lib/jquery/jquery.min.js")"></script>

    <!--SeetAlert -->
    <script src="~/Scripts/Administrativa/js/lib/sweetalert/sweetalert-dev.js"></script>
    <link href="~/Content/Administrativa/css/lib/sweetalert/sweetalertV1.1.3.css" rel="stylesheet" />

</head>
<body class="landing">

    @RenderBody()
</body>
</html>